:root {
  --bg-color: #ffffff;
  --second-text-color: #2196f3;
  --lead-text-color: #212121;
  --contacts-text: #757575;
  --hero: #2f303a;
  --footer-link: rgba(255, 255, 255, 0.6);
  --footer-icon: rgba(255, 255, 255, 0.1);
  --filtr: #f5f4fa;
  --border-color: #ececec;
  --icon: #afb1b8;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-card: rgba(33, 150, 243, 0.9);
  --work-bg: rgba(47, 48, 58, 0.8);
  --black-modal: rgba(0, 0, 0, 0.2);
}
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Шапка */
.header-page {
  border-bottom: 1px solid var(--border-color);
}
/* Контейнер */
.container {
  display: flex;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/* Логотип */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-text-color);
  text-decoration: none;
  border-color: transparent;
}
.logo-span {
  color: var(--lead-text-color);
}
/* Меню навигации */
.nav-head {
  display: flex;
  align-items: center;
}
.head-menu {
  display: flex;

  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}
.head-menu .item:not(:first-child) {
  margin-left: 50px;
}
.head-link {
  display: block;
  text-decoration: none;
  color: var(--lead-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--animation);
}
.head-link:hover,
.head-link:focus {
  color: var(--second-text-color);
}

/* Контакты */
.head-contacts {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--contacts-text);
  list-style: none;
  align-items: center;
}
.head-contacts .item:not(:first-child) {
  margin-left: 50px;
}
.head-contacts .link {
  color: var(--contacts-text);
  text-decoration: none;
  padding: 32px 0;
  display: flex;
  transition: color 250ms var(--animation);
}
.head-contacts .link:focus,
.head-contacts .link:hover {
  color: var(--second-text-color);
}
.head-contacts .icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
.head-contacts .icon:focus,
.head-contacts .icon:hover {
  fill: currentColor;
}
/* Спец.класс */
.active {
  position: relative;
  color: var(--second-text-color);
}
.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-text-color);
}
/* Герой */
.banner {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.banner .title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.banner .button {
  color: var(--bg-color);
  background-color: var(--second-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 30px;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--animation);
}
.banner .button:focus,
.banner .button:hover {
  background-color: #188ce8;
}
/* Наши сильные стороны */
.work {
  padding-top: 94px;
}
.work .item {
  list-style: none;
  width: 270px;
}
.work .item.item:not(:first-child) {
  margin-left: 30px;
}
.work-line {
  display: flex;
  padding: 0;
  margin: 0;
}
.work-line .title {
  margin-bottom: 10px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lead-text-color);
}
.work-line .text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-text);
}
.block-icon {
  width: 270px;
  padding: 25px 0;
  background-color: var(--filtr);
  border-radius: 4px;
  display: flex;
}
.work-line .icon {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
/* Чем мы занимаемся */
.work-heading {
  padding: 94px 0;
}
.work-heading .title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--lead-text-color);
}
.work-heading .line {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.work-heading .images {
  display: block;
}
.work-heading .item:not(:first-child) {
  margin-left: 30px;
}
/* Наша команда */
.team {
  padding: 94px 0;
  background-color: var(--filtr);
}
.team .images {
  display: block;
}
.team .team-line {
  display: flex;
  margin: 0;
  padding: 0;
}
.team .team-item {
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  overflow: hidden;
}
.team .team-item:not(:first-child) {
  margin-left: 30px;
}
.team .title-lead {
  font-weight: 700;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--lead-text-color);
}
.team .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--lead-text-color);
  margin: 0;
}
.team .text {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--contacts-text);
  margin: 0;
  margin-top: 10px;
}
.work-images {
  position: relative;
}
.thumb-work {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--work-bg);
}
.work-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
  padding: 27px 0;
}
.block-item {
  padding: 30px 32px;
  background-color: var(--bg-color);
}
/* Иконки для соц.сетей */
.icon-line {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.icon-line .item-icon:not(:first-child) {
  margin-left: 10px;
}
.icon-line .icon-link {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  padding: 12px 12px;
  color: var(--icon);
  background-color: var(--bg-color);
  transition: color 250ms var(--animation), background-color 250ms var(--animation);
}
.icon-line .icon-link:focus,
.icon-line .icon-link:hover {
  background-color: var(--second-text-color);
  color: var(--bg-color);
  overflow: hidden;
}
.icon-line .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.icon-line .icon:focus,
.icon-line .icon:hover {
  fill: currentColor;
}

/* Логотопиты компаний */
.company {
  padding: 94px 0;
}
.company .title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--lead-text-color);
}
.company-line {
  display: flex;
  margin-top: 50px;
}
.company-item:not(:first-child) {
  margin-left: 30px;
}
.company-link {
  display: flex;
  width: 170px;
  border: 1px solid var(--icon);
  border-radius: 4px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: var(--icon);
  transition: color 250ms var(--animation), border 250ms var(--animation);
}
.company-link:focus,
.company-link:hover {
  color: var(--second-text-color);
  border-color: var(--second-text-color);
}
.company .icon {
  fill: currentColor;
  height: 50px;
}
.company .icon:focus,
.company .icon:hover {
  fill: currentColor;
}
.footer {
  background: var(--hero);
  padding: 60px 0;
}
.footer .logo-span {
  color: var(--bg-color);
}
.cont-footer {
  display: block;
}
.cont-footer .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--bg-color);
  margin: 0;
  margin-top: 20px;
}
.cont-footer .link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-link);
  text-decoration: none;
  margin-top: 10px;
  letter-spacing: 0.03em;
}
.soc-footer {
  margin-left: 70px;
}
.footer-line {
  display: flex;
  margin-top: 20px;
}
.footer-item:not(:first-child) {
  margin-left: 10px;
}
.footer-link {
  display: flex;
  padding: 12px 12px;
  background-color: var(--footer-icon);
  border-radius: 50%;
  color: var(--bg-color);
  transition: background-color 250ms var(--animation);
}
.footer-link:focus,
.footer-link:hover {
  background-color: var(--second-text-color);
}
.footer-icon {
  width: 20px;
  height: 20px;
  align-items: center;
  fill: currentColor;
}
.text-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
}
.spam-mail {
  margin-left: 93px;
  padding-top: 10px;
}
.text-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
  margin-bottom: 20px;
}
.form-subscribe {
  display: flex;
}
.form-mail {
  display: flex;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-mail::folder {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-mail:focus {
  outline: 1px solid transparent;
}
.button-mail {
  display: flex;
  margin: 0;
  padding: 10px 29px;
  margin-left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}
.icon-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
/* Фильтр */
.filtr {
  padding-top: 94px;
}
.filtr .line-filtr {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.filtr .item-filtr:not(:first-child) {
  margin-left: 8px;
}
.filtr .button {
  color: var(--lead-text-color);
  background-color: var(--filtr);
  border-color: transparent;
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--animation), background-color 250ms var(--animation);
}
.filtr .button:focus,
.filtr .button:hover {
  color: var(--bg-color);
  background-color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.activebut[type='button'] {
  background-color: var(--second-text-color);
  color: var(--bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Продукты компании */
.product {
  padding-bottom: 93px;
}
.container-product {
  display: flex;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
.product .line-product {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.product .item-product {
  margin-bottom: 30px;
  margin-right: 30px;
  background: var(--bg-color);
}
.product .item-product:nth-child(3n) {
  margin-right: 0;
}
.item-product:focus,
.item-product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product .images {
  display: block;
}
.product .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--lead-text-color);
  margin: 0;
}
.product .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--contacts-text);
  margin: 0;
  margin-top: 4px;
}
.product .link {
  text-decoration: none;
}
.block-product {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.product-images {
  position: relative;
  overflow: hidden;
}
.thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  background-color: var(--bg-card);
  transform: translateY(101%);
  transition: transform 250ms var(--animation);
}
.product .link:hover .thumb {
  transform: translateY(0);
}
.thumb-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--bg-color);
}
/* Черный фон */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-modal);
  opacity: 1;
  transition: opacity 800ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/* Модальное окно */
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
}
.text-modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--lead-text-color);
  margin-bottom: 12px;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  cursor: pointer;
}
.button-close .close {
  width: 18px;
  height: 14px;
}
.button-close:hover {
  fill: var(--second-text-color);
}
.form-buy {
  display: flex;
}
.field-form {
  display: block;
  margin-bottom: 10px;
}
.text-field {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--contacts-text);
}
.line-form {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--second-text-color);
}
.line-form:focus {
  border: 1px solid var(--second-text-color);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}
.line-form:focus + .icon-span {
  fill: var(--second-text-color);
}
.comment-form {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}
.comment-form:focus {
  border: 1px solid var(--second-text-color);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}
.comment-form::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.input-icon {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-left: 17px;
}
.input-icon:checked + .span-rules-icon {
  background-color: var(--second-text-color);
  background-image: url(../images/icon-check.svg);
  border: 2px solid var(--second-text-color);
  background-size: contain;
  background-origin: border-box;
}
.rules-text {
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 9px;
  letter-spacing: 0.03em;
  user-select: none;
  color: var(--lead-text-color);
}
.rules-text a {
  color: var(--second-text-color);
  text-decoration: underline;
}
.rules-icon {
  display: flex;
  position: relative;
}
.span-rules-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--lead-text-color);
  border-radius: 3px;
}
.submit-modal {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--second-text-color);
}
.modal-icon {
  position: relative;
}
.icon-span {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.icon-window {
  width: 18px;
  height: 18px;
}
